*{
	box-sizing: border-box;
}
body{
	
}

body,html{
	min-height:100%;
	margin: 0 200px;
}

img{
	border-style: solid;
	border-color: #00e68a;
	border-width: 20px;
	width: 100%;
}

.grid-parent {
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px;
	background-color: #1aa3ff; 
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
}
.content--light  {
	 
}

.content--dark  {
	
}

h1{
	color: blue;
	font-size: 2.5em;
}

.content--light .text-block {
  position: absolute;
  background-color: #00e68a;
  color: black;
  bottom: 0px;
  padding: 10px;
  height: 150px;
  width: 100%;
}

.content--light .text-block p{
	font-size: 1.5em;
	padding: 0px;
	margin: 0px;
}

.content--light .text-block h2{
	font-size: 2.5em;
	padding: 0px;
	margin: 0px;
}

.content--dark .text-block {
  opacity: 0.8;
  position: absolute;
  background-color: blue;
  color: black;
  bottom: 0px;
  padding: 10px;
}
/*@media screen and (max-width: 320px){
	.grid-parent {
	grid-template-columns: 1fr;	
	}

	.item2 {
	grid-row: span 1;
	}

	.item4{
	grid-column: 1;
	}
}*/